body {
  background-color: #f2e8f0;
}

a {
  text-decoration: none;
}

header {
  margin: 0;
  padding: 0;
  height: 100px;
}

.logo {
  width: 250px;
}

.titre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.caddy {
  margin-left: 1050px;
  margin-top: 30px;
  font-size: 28px;
}

.description {
  height: 350px;
  width: 380px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fff;
  border: solid black 2px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prix {
  font-size: 20px;
  margin-left: 190px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
}

.imageourson {
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.nom-ourson {
  margin-right: 60%;
}

.produit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.623);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: 50%;
}

.produit-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  width: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  -ms-grid-column-align: center;
      justify-self: center;
  height: 350px;
}

.produit-titre {
  margin: 20px;
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 20px;
}

.produit-description {
  margin: 0 20px;
}

.produit-prix {
  margin: 20px;
}

.produit-choix {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
}

.produit-choix-quantite {
  -ms-grid-column-align: center;
      justify-self: center;
}

.produit-choix-quantite input {
  width: 50px;
}

.produit-choix-couleur {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-left: 37%;
}

.produit-ajout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  margin: 20px;
  padding-bottom: 50px;
}

.produit .black {
  color: black;
}

*,
body {
  font-family: "Josefin sans";
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.nav__logo {
  color: #352208;
  font-size: 30px;
}

.container {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  background: grey;
  height: 300px;
  margin-left: 24%;
}

footer {
  margin-top: 800px;
  background: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  height: 60px;
}

footer .nav {
  max-width: 1700px;
  color: #dee9f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
  padding: 0 40px;
}

footer .nav__link {
  color: #dee9f7;
  font-size: 24px;
}

.container {
  border: solid 2px black;
  background-color: #EFE6D1;
}

.container .panier {
  padding-bottom: 20px;
  border-bottom: dashed 2px;
  margin-bottom: 20px;
}

.container .panier h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
  margin-top: 20px;
}

.container .panier-vide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px;
}

.container .panier .panier-produit {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-bottom: 20px;
}

.container .panier .panier-produit-nom {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.container .panier .panier-produit-prix {
  -ms-grid-column-align: center;
      justify-self: center;
  margin-bottom: 20px;
  font-size: 20px;
}

.container .panier .recap-panier {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin-bottom: 10px;
}

.container .panier .recap-panier-montant {
  justify-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .panier .recap-panier-montant-text {
  margin-right: 5px;
}

.container .panier .recap-panier-btn {
  -ms-grid-column-align: center;
      justify-self: center;
}

.container .btn-commande {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.container .btn-commande .commande {
  font-size: 17px;
}

.formulaire {
  margin-top: 200px;
  background-color: #EFE6D1;
  border: 2px solid black;
}

.formulaire-title {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.container-confirmation-details {
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
}

.container-confirmation-details-prix {
  -ms-grid-column-align: center;
      justify-self: center;
}

.container-confirmation-details-id {
  -ms-grid-column-align: center;
      justify-self: center;
}

@media screen and (max-width: 530px) {
  h2 {
    color: black;
    text-align: center;
  }
  footer .nav {
    width: 90%;
  }
  footer .nav__link {
    font-size: 20px;
  }
  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 180px;
    height: 200px;
  }
  .caddy {
    margin-left: 150px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .produit {
    width: 250px;
    margin-left: 0;
  }
  .produit-img {
    width: 250px;
  }
  .formulaire {
    width: 260px;
    margin-right: 50px;
  }
  .container {
    margin-left: 35px;
    width: 260px;
  }
}

@media screen and (min-width: 766px) and (max-width: 767px) {
  h2 {
    color: black;
    text-align: center;
  }
  footer .nav {
    width: 90%;
  }
  footer .nav__link {
    font-size: 20px;
  }
  .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 180px;
    height: 200px;
  }
  .caddy {
    margin-left: 150px;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .produit {
    width: 250px;
    margin-left: 0;
  }
  .produit-img {
    width: 250px;
  }
  .formulaire {
    width: 260px;
    margin-right: 50px;
  }
  .container {
    margin-left: 35px;
    width: 260px;
  }
}
/*# sourceMappingURL=style.css.map */